@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    font-family: 'Roboto', sans-serif;
}

body {
    text-align: center;
    background-color: fff;
}

input {
    margin-top: 10px;
}

summary {
    font-size: 1.1em;
}

a {
    color: darkgreen;
}

#content{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0, auto;
    grid-template-areas: 
    "variables variables strings strings"
    "arrays arrays objects objects"
    ". tasks tasks ."
}

.variables {
    grid-area: variables;
}

.strings {
    grid-area: strings;
}

.arrays {
    grid-area: arrays;
}

.objects {
    grid-area: objects;
}

.tasks{
    grid-area: tasks;
}

.btn {
    position: relative;
    display: block;
    margin: 30px auto;
    padding: 0;
    overflow: hidden;
    min-height: 30px;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
    background-color: #2ecc71;
    color: #ecf0f1;
  
    transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #27ae60;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}

.easter-egg {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.passion {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.reveal {
    display: none;
}


